.top-navbar-container {
    display:flex;
    height: 10%;
    width: 100%;
    padding: 1%;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 10px;
    flex: 2;
    align-items: center;
    padding-left: 1%;
}

.tecxotic-logo {
    height: 30px;
}

.tecxotic-name {
    height: 20px;
}

.buttons-container {
    display: flex;
    justify-items: flex-end;
}